<div class="statement" data-id="{{id}}" data-username="{{user}}">
  <div class="media">
    <div class="media-body">
      <p>{{message}}</p>
    </div>
  </div>
</div>

<div class="emoji-reactions">
  {{#each emojiHash}}
  <div class="emoji-reaction">
    <img class="emoji-reaction-icon" src="/images/{{this.name}}.png" alt="heart">
    <span class="emoji-count">{{count}}</span>
  </div>
  {{/each}}
</div>

<div class="encouragements">
  {{#each encouragementsHash}}
  <div class="encouragement">
    {{name}}
    <span class="encouragement-count">{{count}}</span>
  </div>
  {{/each}}
</div>

<div class="statements">
  {{#each messagesHash}}
  <div class="statement">
    <div class="media">
    <div class="media-left">
      <div class="media-object"></div>
    </div>
      <div class="media-body">
        <p>{{name}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
